extends layout

block links
  link(rel="stylesheet" href="../stylesheets/submissions.css")
block content
  .container
    .row
    for subs in viewSub
      .col-md-5
        h1 #{subs[0].name}
        iframe(width="100" height="315" src="http://www.youtube.com/embed/"+subs[0].url.slice(31) frameborder="0" allowfullscreen)
        h2 #{subs[0].title}
        p #{subs[0].description}
      if subs[1]
        .col-md-2.vsButtons
          button.btn.btn-succes.leftButton.glyphicon.glyphicon-chevron-left Vote
          p VS.
          button.btn.btn-success.rightButton.glyphicon.glyphicon-chevron-right Vote
        .col-md-5
          h1 #{subs[1].name}
          iframe(width="100" height="315" src="http://www.youtube.com/embed/"+subs[1].url.slice(31) frameborder="0" allowfullscreen)
          h2 #{subs[1].title}
          p #{subs[1].description}
block scripts
  script(src='/javascripts/submissions.js')